/*
// POPUP IMAGE VIEW
*/
	.modal:not(.hide)
	{
	    	display: none;
	   	z-index: 1;
	    	padding-top: 100px;
	    	margin: 0px;
	    	left: 0;
	    	top: 0;
	    	width: 100%;
	    	height: 100%;
	    	overflow: auto;
	    	background-color: rgba(0,0,0,0.9);
	}
	.modal-content
	{
		text-align: center;
	    	margin: auto;
	    	display: block;
	    	width: 80%;
	    	max-width: 700px;
	}
	
	/* Caption of Modal Image */
	#imgPopupText { margin: auto; display: block; width: 80%; max-width: 700px; text-align: center; color: #ccc; padding: 10px 0; height: 150px; }
	
	/* Add Animation */
	.modal-content, #imgPopupText { -webkit-animation-name: zoom; -webkit-animation-duration: 0.6s; animation-name: zoom; animation-duration: 0.6s; }
	@-webkit-keyframes zoom { from { -webkit-transform:scale(0) } to { -webkit-transform:scale(1) } }
	@keyframes zoom { from { transform:scale(0) } to { transform:scale(1) } }
	
	/* The Close Button */
	.imgPopupClose { color: #BBB; position: absolute; top: 15px; right: 35px; font-size: 40px; font-weight: bold; transition: 0.3s; }
	
	.imgPopupClose:hover,
	.imgPopupClose:focus { color: #DA4F49; text-decoration: none; cursor: pointer; }
	
	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px) { .modal-content { width: 100%; } }

/*
// BODY
*/
	.panel
	{
		display: inline-block;
		text-align: center;
		width: 440px;
		padding: 5px;
	}
	
	.pnPrev
	{
		display: inline-block;
		text-align: center;
		vertical-align:top;
		padding: 5px;
		
		height: 270px;
		min-height:270px;
		max-height: 410px;
		
		width: 610px;
		max-width: 610px;
		min-width: 410px;
	}
	
	.pnI
	{
		display: inline-block;
		text-align: center;
		vertical-align:top;
		width: 191px;
		height: 125px;
		padding: 5px;
	}
	
	
	.pnImg
	{
		text-align: center;
		vertical-align:top;
		width: 191px;
		height: 125px;
		padding: 5px;
	}
	.imgView
	{
	    	cursor: pointer;
		border-radius: 5px;
		transition: 0.3s;
	}
	.imgView:hover
	{
		opacity: 0.7;
	}
	
	.preview
	{
		position: absolute;
		text-align: center;
		vertical-align:top;
		color: #FFFFFF
		text-shadow: 0 -1px 0 #000000;
		z-index: 9999;
	}
	
	.btDel
	{
		font-size: 10px;
		position: absolute;
		z-index: 9999;
		text-align: center;
		vertical-align: middle;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 77px;
	}
	
	.elemHidden
	{
		display: none;
	}
	
	.cbox
	{
		background: #2A49A5;
		border: 1px solid #082783;
		box-shadow: 0 1px #4C6BC7 inset;
		text-shadow: 0 -1px 0 #082783;
		
		font: 12px Verdana, sans-serif;
		color: white;
		
		padding: 3px 5px;
		margin-top: 5px;
		margin-left: 0px;
		
		height: 25px;
		width: 135px;
	}
	.cbox:hover
	{
		background: #2A49FF;
	}
	.cbox:disabled
	{
		background: rgba(66,68,78, .5);
		border: 1px solid #C6C9CC;
		text-shadow: 0 0 0 #0;
		cursor: default;
	}
	
	.button
	{
		background: #2A49A5;
		border: 1px solid #082783;
		box-shadow: 0 1px #4C6BC7 inset;
		text-shadow: 0 -1px 0 #082783;
		
		font: 12px Verdana, sans-serif;
		color: white;
		
		padding: 3px 5px;
		margin-top: 5px;
		vertical-align: top;
		
		height: 25px;
		width: 135px;
	}
	.button:hover
	{
		background: #2A49FF;
	}
	.button:disabled
	{
		background: rgba(66,68,78, .5);
		border: 1px solid #C6C9CC;
		text-shadow: 0 0 0 #0;
		cursor: default;
	}
	
	.buttonred
	{
		background: #FF0000;
		border: 1px solid #AA0000;
		box-shadow: 0 1px #990000 inset;
		text-shadow: 0 -1px 0 #CC0000;
		
		font: 12px Verdana, sans-serif;
		color: white;
		
		padding: 3px 5px;
		margin-top: 5px;
		vertical-align: top;
		
		height: 25px;
		width: 135px;
	}
	.buttonred:hover
	{
		background: #FF2020;
	}