body.form
{
	font-family: 'Open Sans', sans-serif;
	background: #2E363F;
}

div.header
{
	font-family: 'Open Sans', sans-serif;
	margin-top: 2cm;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 700px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #CDCDCD;
}
div.body
{
	font-family: 'Open Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 475px;
	text-align: center;
	vertical-align: middle;
	background: #efefef;
	border: 1px solid #CDCDCD;
}
div.footer
{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 15px;	
	margin-bottom: 1cm;
	margin-left: auto;
	margin-right: auto;
}

h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 0px;
}	
h3
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0px;
}	
h4
{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin: 0px;
}
h5
{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}
		
textarea.textbox
{
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
	width: 500px;
	height: 200px;
	font-size: 14px;
    	resize: none;
    	display: inline-block;
    	position: relative; 
}

label.count
{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	position: absolute;
	text-align: right;
	margin-top: -10px;
	margin-left: -80px;
	width: 75px;
	color: #BBB;
}

input.textbox
{
	font-family: 'Open Sans', sans-serif;
    	font-weight: bold;
	font-size: 14px;
	width: 500px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
}
button.save:hover
{
	background-color: #555;
}
button.save
{
    	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color:#363636;
	background-repeat: repeat-x;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	height: 25px;
	width: 300px;
}

// STAR CSS
.txt-center { text-align: center; }
.hide { display: none; }
.clear { float: none; clear: both; }

.rating { width: 420px; unicode-bidi: bidi-override; direction: rtl; text-align: center; position: relative; }
.rating > label { float: right; display: inline; padding: 0; margin: 0; position: relative; width: 1.1em; cursor: pointer; color: #2E363F; }
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label { color: transparent; }

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before { content: "\2605"; position: absolute; left: 0; color: #FFD700; }